<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://hqbzc.sbs.edu.cn/download/ios/houqin.ipa</string>
				</dict>
				<dict>
					<key>needs-shine</key>
					<true/>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://hqbzc.sbs.edu.cn/images/icon57.png</string>
				</dict>
				<dict>
					<key>needs-shine</key>
					<true/>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://hqbzc.sbs.edu.cn/images/icon512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.Housemanagement.cn</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>后勤管理</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
